In [1]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

In [4]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
 # Person.__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [10]:
x.printname()

Mike Olsen

In [13]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))
# print(next(myit))

# for j in mytuple:
#     print(j)

apple
banana
cherry

StopIteration:

In [10]:
class person:
    def __init__(rao, name,age):
         rao.name = name
         rao.age = age
    def printname(rao):
       print(rao.name, rao.age) 
x = person("sumit" , 43)
x.printname()
# x.printname("age")

sumit 43

In [17]:
class person:
    def __init__(rao,name,over):
        rao.name = name
        rao.over = over
    def printname(rao):
        print(rao.name,rao.over)
class student(person):
    pass
x = person("sumit" , 43)
x.printname()

sumit 43

In [85]:
class person:
    def __init__(raa,name,over):
        raa.name = name
        raa.over = over
    def printname(raa):
        print(raa.name,raa.over)
class student(person):
     def __init__(raa,name,over):
         person.__init__(raa,name,over)
x = person("amit" , 43)
x.printname()

amit 43

In [88]:
class person:
    def __init__(rao,name,over):
        rao.name = name
        rao.over = over
    def printname(rao):
        print(rao.name,rao.over)
class student(person):
     def __init__(rao,name,over):
         super().__init__(name,over)
x = person("amit" , 43)
x.printname()

amit 43

In [2]:
class person:
    def __init__(rao,name,over):
        rao.name = name
        rao.over = over
    def printname(rao):
        print(rao.name,rao.over)
class student(person):
     def __init__(rao,name,over):
        super().__init__(name,over)
        rao.pass_1 = 2026
x = student("amit" , 43)
print(x.pass_1)  
x.printname()

2026
amit 43

In [2]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [65]:
class person:
    def __init__(rao,name,over):
        rao.name = name
        rao.over = over
    def printname(rao):
        print(rao.name,rao.over)
class student(person):
     def __init__(rao,name,over):
         super().__init__(name,over,year)
         rao.graduate == year
  
     def welcome(rao):
         print("welcome", rao.name, rao.over,"to the class of",rao.graduat )    
      
# x = student("sumit", "gty",  2026)
x = Student("sumit", "gty",  2026)
# x.welcome()
x.welcome()

Welcome sumit gty to the class of 2026

In [3]:
class person:
    def __init__(rao, name, age):
         rao.name = name
         rao.age = age
    def printname(rao):
        print(rao.name,rao.age)
class student(person):
    def __init__(rao,name,age):
        super().__init__(name,over,age ,)
        rao.property == year
    def welcome(rao):
          print("welcom", rao.name, rao.age, rao.property,"to the class")
x = Student("sumit", "gty",  2026)      
x.welcome()       
x.printname()

NameError: name 'Student' is not defined

In [23]:
class person:
    def __init__(rao,name,age):
        rao.name = name
        rao.age = age
    def printname(rao):
        print(rao.name,rao.age)
class student(person):
    def __init__(rao,name,age):
        super().__init__(name,over,age ,)
        rao.property == year
    # def __init__(rao, name, age, year):
    #     super().__init__(name,age)
    #     rao.graduate = year
    # def welcome(rao):
    #     print("welcome", rao.name,rao.age,"to pass the class",rao.graduate)
    def welcome(rao):
        print("welcom", rao.name, rao.age, rao.property,"to the class")
# x = student("sumit",22,2025)   
# x.welcome()
# x.printname()
x = Student("sumit", "gty",  2026)      
x.welcome()       
x.printname()

TypeError: Student.__init__() takes 3 positional arguments but 4 were given

In [3]:
class person:
    def __init__(rao, name, age):
         rao.name = name
         rao.age = age
    def printname(rao):
        print(rao.name,rao.age)
class student(person):
    def __init__(rao,name,age):
        super().__init__(name,over,age ,)
        rao.property == year
    def welcome(rao):
          print("welcom", rao.name, rao.age, rao.property,"to the class")
x = Student("sumit", "gty",  2026)      
# x.welcome()       
x.printname()

NameError: name 'Student' is not defined

In [8]:
class Person:
    def __init__(ask,name,age):
        ask.name = name
        ask.age = age
    def printname(ask):
        print(ask.name,ask.age)
class Student(Person):
    def __init__(ask,name,age):
        super().__init__( name,age)
        ask.graduat = year
    def welcome(rao):
        print("|welcome",ask.name,ask.age,"to pass in the class",ask.graduate)
x = Student("Mike", 22 , 2024)
x.welcome()

TypeError: Student.__init__() takes 3 positional arguments but 4 were given